body {
    background: #333;
    font-family: 'Lato', sans-serif;
    padding: 24px;
}

h1 {
    color: #00ffff;
    font-size: 48px;
    padding: 0;
    margin: 0;
}

.subtitle {
    padding: 0;
    margin: 0;
    padding-bottom: 48px;
}

h2 {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
}

.status {
    box-sizing: border-box;
    border: 3px solid white;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    padding: 6px;
    margin-bottom: 6px;
    width: 300px;
    text-align: center;
}

.status.red {
    border-color: rgba(255, 0, 124, 1.0);
    color: rgba(255, 0, 124, 1.0);
}

.status.blue {
    border-color: rgba(0, 255, 255, 0.3);
    color: rgba(0, 255, 255, 1.0);
}

.print {
    box-sizing: border-box;
    width: 100%;
    border: 3px solid rgba(0, 255, 255, 1.0);
    color: rgba(0, 255, 255, 1.0);
    background-color: rgba(0, 255, 255, 0.3);
    text-transform: uppercase;
    font-size: 24px;
    padding: 6px;
    margin: 0;
}

.wedo, .light {
    display: inline-block;
    margin-right: 6px;
    width: 145.5px;
}

.inactive {
    opacity: 0.3;
}

.name {
    box-sizing: border-box;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    padding: 6px;
    margin: 12px 0;
}

.name, .status.green {
    border: 3px solid rgba(0, 255, 0, 1.0);
    color: rgba(0, 255, 0, 1.0);
}

#wedos, #lights {
    padding-bottom: 48px;
}
